#!/bin/sh
#
# ~/.xprofile

export PATH="${PATH}:$HOME/.local/bin"
export EDITOR=/usr/bin/nvim
# export SSH_ASKPASS=ssh-askpass

nm-applet &
redshift -l -16.3988:-71.5369 &
chromecast_wallpaper.py start &

# AUTOSTART
[ -f ~/.config/$WM/autostart ] && . ~/.config/$WM/autostart
