[Desktop Entry]
Type=Application
Exec=xdotool key Super+Right
Name=Escritorio siguiente
Icon=/home/maigo/Imágenes/Iconos/tint2/escritorio-siguiente.png
