[Desktop Entry]
Type=Application
Exec=/home/maigo/.aek6/i3/i3exit --config /home/maigo/.aek6/compiz/exitrc
Name=Salir
Icon=/home/maigo/Imágenes/Iconos/tint2/salir.png
